/**
 * Header Bileşeni Stilleri
 */

 header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

.subtitle {
    font-size: 1.2rem;
    opacity: 0.9;
    margin-top: 10px;
}